{{textarea value=code id='code'}}

<button {{action 'runCode'}}>Run Code</button>

<div id="queues" class="cf">
  {{#each queues}}
    {{run-loop-queue queue=this}}
  {{/each}}

  {{current-queue-blip queueIndex=currentQueueIndex id="current-queue-blip"}}
</div>

<h3>Logs:</h3>
<div id="log">
  {{#each logs}}
    <p>{{this}}</p>
  {{/each}}
</div>
